.frame{
    border-radius: 99999px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

@media (min-width:1024px){
    .frame{
        width: var(--lg-width) !important;
        height: var(--lg-height) !important;
    }
}